.MuiButtonBase-root {
  box-shadow: none !important;
}
.MuiPaper-root {
  box-shadow: none !important;
}
.css-pynjcd-MuiTypography-root {
  color: #fff ;
}

.swal2-popup {
  z-index: 99999999999999px !important;
}

.swal2-popup {
  z-index: 9999 !important; 
}

.swal2-modal {
  z-index: 9999 !important; 
}

.swal2-container {
  z-index: 9998 !important;  
}